@page "/aviones1s/details"
@using Microsoft.EntityFrameworkCore
@using DOGO2.Model
@inject IDbContextFactory<DOGO2.Data.DOGO2Context> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Aviones1</h2>
    <hr />
    @if (aviones1 is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">IdTipoAvion</dt>
            <dd class="col-sm-10">@aviones1.IdTipoAvion</dd>
            <dt class="col-sm-2">IdCategoriaAvion</dt>
            <dd class="col-sm-10">@aviones1.IdCategoriaAvion</dd>
            <dt class="col-sm-2">Matricula</dt>
            <dd class="col-sm-10">@aviones1.Matricula</dd>
            <dt class="col-sm-2">Nombre</dt>
            <dd class="col-sm-10">@aviones1.Nombre</dd>
            <dt class="col-sm-2">Modelo</dt>
            <dd class="col-sm-10">@aviones1.Modelo</dd>
        </dl>
        <div>
            <a href="@($"/aviones1s/edit?idavion={aviones1.IdAvion}")">Edit</a> |
            <a href="@($"/aviones1s")">Back to List</a>
        </div>
    }
</div>

@code {
    private Aviones1? aviones1;

    [SupplyParameterFromQuery]
    private int IdAvion { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        aviones1 = await context.Aviones1.FirstOrDefaultAsync(m => m.IdAvion == IdAvion);

        if (aviones1 is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
